<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ legend }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ legend }}</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>{{ form.title.label }} {{ form.title(size=20) }}</div>
        <div>{{ form.date.label }} {{ form.date() }}</div>
        <div>{{ form.description.label }} {{ form.description() }}</div>
        <div><input type="submit" value="{{ legend }}"></div>
    </form>
</body>
</html>
